<html>
    <head>
        <meta charset="utf-8" />
        <title>Contact Details</title>
        <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css" />
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="container" class="container">
            <center><h3>My Portfolio<h3></center>
        </div>
		<div class="container">		
			<ul id="nav" class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link" href="Home.html">Home</a></li>
				<li class="nav-item"><a class="nav-link" href="Personnel.html">Personal</a></li>
				<li class="nav-item"><a class="nav-link" href="education.html">Education</a><li>
				<li class="nav-item active"><a class="nav-link" href="contact.html">Contact</a></li>
			</ul>

            <h3>Contact Details</h3>
            <br>
            <h4>Permanent Address:</h4> 
            <p>749,N.Kasaba,Near Date Ganapati Mandir,Shreyas Apartment,Solapur</p>
            <p>PinCode-413007</p>
            <br>
            <h4>Contact No: 8087225825<h4>
            <br>
            <h4>Current City:
            Pune<h4>
            <br>
            Email Id:
            prajaktashelgikar47@gmail.com
            <br>
		<div class="form-group"></div>
	         <p id="logo"><a href="#"><img src="../images/social.png" class="img-thumbnail"/></a></p>

            <div class="form-group"></div>
            <a href="https://m.facebook.com/public/Prajakta-Shelgikar"><i style="color: #365899" class="fa fa-facebook-square fa-2x"></i></a>
            <a href="mailto:prajaktashelgikar47@gmail.com"><i style="color: #DB4437" class="fa fa-google-plus-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/prajakta-shelgikar-362448136"><i style="color: #0077B5" class="fa fa-linkedin-square fa-2x"></i></a>
        </div>
    </body>

</html>