
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Educational Details</title>

<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css" />
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="container">
		<center><h3>My Portfolio<h3></center>
	</div>
		
	<div class="container">
		<ul id="nav" class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" href="Home.html">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="Personnel.html">Personal</a></li>
			<li class="nav-item active"><a class="nav-link" href="education.html">Education</a><li>
			<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
		</ul>
		<br>

		<h4>EDUCATIONAL DETAILS</h4>
		<br>
		<p>Graduated From : Walchand Institute Of Technology,Solapur</p>
		<br>
		<p>Percentage     : 70.82(First Class With Distinction)</p>
		<br>
		<p>Univercity     : Solapur</p>
		<br>
		<p>High School    : A.D.Joshi Jr. Coollege,Solapur</p>
		<br>
		<p>Percentage     : 71.76(First Class With Distinction)</p>
		<br>
		<p>Board          : Maharashtra State Board</p>
		<br>
		
		<p>School         : S.H.N. High School,Solapur</p>
		<br>
		<p>Board          : Maharashtra State Board</p>
		
		<br>	
		<p>Percentage     : 87.20(First Class With Distinction)</p>

                 <div class="form-group"></div>
	         <p id="logo"><a href="#"><img src="../images/bk.png" class="img-thumbnail"/></a></p>


		<br>
		<h4>PROJECTS</h4>
		
		<br>
		<p>Title:On Automobile Management System(VB)</p>

		<br>	
		<p>Description: A fully automized management system which includes customer as well as labour details.
		Full details of job undertaken. Automatic calculatin of total bills with printing facility.</p>


		<br>	
		<p>Title: Mailing System(Netbox)</p>

		<br>
		<p>Description: A partial development of web application which transfer files fro one computer system to another computer system using LAN network also using 
			internet.</p>
		<p id="book"><a href="#"><img src="images/book.png" ALIGN="RIGHT"/></a></p>
	</div>
</body>